.container {
    background-color: var(--white);
}

.container * {
    color: var(--black);
}

.container:hover {
    transition: all ease 150ms;
    transform: scale(1.05);
}

.img_container {

    position: relative;
    top: 0;

    margin: auto 0;

    min-height: 66px;
    max-height: 66px;

    min-width: 80px;
    max-width: 80px;

}

.container>a {

    height: 140px;

    display: flex;
    flex-direction: row;

    gap: 16px;

    border: 2px solid var(--black-25);

    border-radius: 2px;

    padding: 8px;

}

.container h5 {
    color: var(--primary);
    font-size: var(--fs-h6);

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    overflow: hidden;

}

.container p {
    margin-top: 16px;
    color: var(--black-75);
    font-size: var(--fs-minus-1);
}