#content {

    position: relative;

    top: 140px;
    margin-bottom: 140px;

}

@media((min-width: 420px) and (max-width: 1119px)) {
    #content {

        top: 160px;
        margin-bottom: 160px;

    }
}

@media(min-width: 1120px) {
    #content {

        top: 120px;
        margin-bottom: 144px;

    }
}

#hero {

    margin: 0 5vw;

}

#hero h1 {
    position: relative;

    animation: apears forwards 500ms;

    opacity: 0.1;

    text-align: center;
    font-size: var(--fs-h4);

}

@keyframes apears {
    0% {
        bottom: -10px;
        opacity: 0.1;
    }

    100% {
        bottom: 0px;
        opacity: 1;
    }

}

#hero_game_info {

    margin-top: 24px;
    margin-bottom: 24px;

}

#hero_game_info>h2 {

    margin-bottom: 16px;

}

@media(min-width: 720px) {

    #hero_game_info>h2 {

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;

        overflow: hidden;
    }

}

#hero_game_info>p {

    max-width: 80%;

    margin-bottom: 16px;

    font-size: var(--fs-minus-1) !important;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    overflow: hidden;

}

@media(min-width: 880px) {

    #hero_game_info>p {

        max-width: 50%;

    }

}

#hero_game_info>ul {

    display: flex;
    gap: 8px;

}

#hero_game_info>ul li {

    padding: 4px;

    border-radius: 4px;

    background-color: var(--primary);

}

#hero_game_info>ul li a {
    display: block;
    font-size: var(--fs-minus-1);
}

#hero_game_info>a {

    margin-top: 24px;

    max-width: 220px;

    padding: 8px;

    border-radius: 4px;

    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;

    border-radius: 4px;
    border: 2px solid var(--white-75);

    background-color: var(--black-50);

    fill: var(--white);

}

#list_games_launch {

    display: grid;

    grid-template-columns: 1fr;
    gap: 8px;
}

@media(min-width: 760px) {
    #list_games_launch {

        grid-template-columns: repeat(2, 1fr);


    }
}

@media(min-width: 1020px) {
    #list_games_launch {

        grid-template-columns: repeat(4, 1fr);


    }
}

#list_games_launch>span h3 {

    margin: 8px 0;

    color: var(--white);

    font-size: var(--fs-minus-1);

    text-align: center;

}

#list_games_launch>span small {

    display: block;

    font-style: italic;

    color: var(--white);

    font-size: var(--fs-minus-2);
    font-weight: 300;

    text-align: center;
}

/* CONTAINER AFTER HERO */
.container_launchs_best_ratings {

    margin-top: 32px;

    padding: 0 5vw;

    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;

}

@media(min-width: 720px) {
    .container_launchs_best_ratings {
        margin-top: 32px;

        padding: 0 5vw;

        display: grid;
        grid-template-columns: 2.5fr 1fr;
        gap: 8px;
    }
}

.launchs_container h2 {

    border-bottom: 1px solid;
    padding-bottom: 8px;
    font-size: var(--fs-h4);

}

.launchs_container div:last-child h2 {
    margin: 24px 0;
    font-size: var(--fs-h4);

}

.launchs_container ul {

    margin-top: 24px;

    display: flex;
    flex-direction: column;
    gap: 8px;

}

.best_ratings_container>h2 {

    margin-bottom: 24px;

    font-size: calc(var(--fs-minus-1) + 6px);

}

.best_ratings_container ul li {

    border: 1px solid transparent;

}

.best_ratings_container ul li:hover {

    border: 1px solid var(--primary);

}