.container {

    margin-bottom: 160px;

    position: relative;
    top: 160px;

    padding: 0 8px;

}

@media(min-width: 420px) {
    .container {

        padding: 0 5vw;

    }
}

@media(min-width: 1120px) {
    .container {

        margin-bottom: 128px;
        top: 128px;

    }
}

.flex_row {

    display: flex;
    flex-direction: row;

}

@media(max-width: 420px) {

    #page_title {
        gap: 0 !important;
    }

}

#page_title {

    margin-bottom: 24px;

    display: flex;
    gap: 0 16px;
    align-items: center;

}

@media(max-width: 420px) {
    #page_title h1 {

        font-size: var(--fs-h2);
        margin-left: 18px;

    }
}

#page_title h1 {

    display: flex;
    align-items: center;

}

@media(max-width: 420px) {
    #page_title svg {

        margin-left: 8px;

    }

}

#page_title svg {

    transform: scale(2);
    fill: var(--white);

}

.container>h2 {

    font-size: var(--fs-h5);
    color: var(--white);

}

#added_recently {

    overflow-y: hidden;

    margin: 24px 0;
    margin-top: 16px;

    gap: 0 8px;

}

@media(min-width: 768px) {
    #added_recently {
        overflow-y: visible;
    }
}

#added_recently::-webkit-scrollbar {

    display: none;

}

#added_recently li:hover {

    transition: all ease 100ms;

    transform: scale(1.05);

}

#sort_results {

    margin-bottom: 16px;

    gap: 0 16px;

    justify-content: flex-end;

}

#sort_results>div {

    gap: 0 8px;

}

#sort_results button {

    padding: 4px 8px;

    align-items: center;

    gap: 8px;

    background-color: transparent;

    border: 2px solid var(--white);
    border-radius: 4px;

    font-size: var(--fs-minus-1);
    font-weight: 600;

}

#sort_results button svg {

    transform: scale(1.25);

}

#sort_results button[hidden] {

    display: none;

}

#sort_results button[data-active] {

    background-color: var(--primary);
    border: 2px solid var(--white-25);

}

#bookmarked_games {

    padding: 24px 0;

}

#bookmarked_games>ul {

    display: grid;

    grid-template-columns: 1fr;

    gap: 16px;

}

@media(min-width: 768px) {
    #bookmarked_games>ul {

        grid-template-columns: repeat(2, 1fr);

    }
}

@media(min-width: 1440px) {
    #bookmarked_games>ul {

        grid-template-columns: repeat(3, 1fr);

    }
}

#bookmarked_games>ul a {

    display: contents;

}

#bookmarked_games>ul li.list_item {

    padding: 8px 16px;

    gap: 0 16px;

    background-color: var(--white-25);

    border: 2px solid var(--white-50);

    border-radius: 4px;

}

#bookmarked_games>ul li.list_item .card_list_item_heading {

    gap: 0 16px;

    margin-bottom: 16px;

}

#bookmarked_games>ul li.list_item .card_list_item_heading img {

    border-radius: 4px;

}

#bookmarked_games>ul li.list_item .card_item_more_info {

    margin: 0 auto;
    padding-top: 16px;

    width: fit-content;

    gap: 0 16px;
    justify-content: center;

    border-top: 1px solid var(--white-50);

}

#bookmarked_games>ul li.list_item .card_item_more_info>div:last-child {

    text-align: end;

}

#bookmarked_games>ul li.list_item h2 {

    margin-bottom: 8px;

    font-size: var(--fs-h5);

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    overflow: hidden;

}

#bookmarked_games>ul li.list_item h3 {

    font-size: calc(var(--fs-minus-1) - 0px);
    color: var(--white-75);

}

#bookmarked_games>ul li.list_item p {

    font-size: calc(var(--fs-p) - 4px);
    font-weight: 600;

}