#container {

    z-index: 1;

    position: relative;

    margin: auto;

    padding: 24px;

    display: flex;
    flex-direction: column;

    background-color: var(--black);

}

@media(min-width: 680px) {

    #container {

        padding: 24px 81px;

    }

}

#navigation {

    margin-bottom: 24px;
    max-width: 1380px;

    display: flex;
    flex-direction: column;
    gap: 64px;

}

@media(min-width: 425px) {
    #navigation {

        flex-direction: row;

    }
}

@media(min-width: 1200px) {
    #navigation {

        align-self: center;
        min-width: 1140px;
    }
}

@media(min-width: 1400px) {
    #navigation {

        align-self: center;
        min-width: 1330px;
    }
}

#navigation h5 {

    margin-bottom: 8px;

    font-size: var(--fs-minus-1);
    font-weight: 500;
    color: var(--white-50);

}

#navigation ul {

    display: flex;
    flex-direction: column;
    gap: 0px;

}

#navigation ul li a {

    font-size: calc(var(--fs-minus-1) - 1px);
    font-weight: 400;
    color: var(--white-75);

}

#navigation ul li a:hover {

    color: var(--white);

}

#container small {

    align-self: center;

    color: var(--white-50);
    font-size: var(--fs-minus-2);
    font-weight: 300;

}