.container input,
.container button {
    color: var(--black);
}

#first_content {
    background-color: var(--primary);
}

.form_container {

    background-color: var(--primary);
    margin: 0 auto;
    z-index: 0;
    min-height: 70vh;

    position: relative;
    top: 200px;
    padding-bottom: 140px;
    margin-bottom: 140px;

}

.form_container[data-has-search-results=true] {

    animation: decrease_min_height forwards 1000ms;

}

@keyframes decrease_min_height {

    0% {
        min-height: 70vh;
    }

    100% {
        min-height: 10vh;
    }

}

.form_container>h1,
.form_container>p {
    text-align: center;
}

.form_container>p {
    margin-top: 48px;
    font-size: var(--fs-minus-1);
    font-weight: 300;
}

.form_container form {
    margin: 0 auto;
    margin-top: 40px;

    max-width: fit-content;

    box-shadow: 0px 0px 8px 0px var(--black-25);
}

.form_container form input {

    max-width: 60vw;

    padding: 8px;

    border-radius: 4px 0 0 4px;

    border: none;

}

@media(min-width: 380px) {

    .form_container form input {

        min-width: 30vw;

        padding: 12px 12px;
    }

}

.form_container form button {

    padding: 8px;

    border-radius: 0 2px 2px 0;

    border: none;

    background-color: var(--black-25);

    color: var(--white);

}

@media(min-width: 380px) {

    .form_container form button {

        padding: 12px 12px;

    }

}

.form_container form button:hover {

    transition: all ease 150ms;

    background-color: var(--black-50);
}

.form_container form button>span {

    margin-left: 8px;

}

#loading_container {

    height: 60vh;

}

#platform_list {

    position: relative;
    background-color: var(--white);

}

@media(max-width: 520px) {

    #platform_list>ul {
        overflow: auto;
    }

    #platform_list>ul::-webkit-scrollbar {
        display: none;
    }

}

#platform_list>ul {

    max-width: 1440px;
    padding: 0 5vw;

    display: flex;

    border-bottom: 2px solid var(--black-25);

}

@media(max-width: 520px) {

    #platform_list>ul {

        gap: 8px;

    }
}

#platform_list>ul li button {

    color: var(--black-75);

    background-color: transparent;
    border: none;

    padding: 12px;

}

#platform_list>ul li button[data-has-results=true] {

    animation: scale_in_out forwards 1000ms;

}

@keyframes scale_in_out {

    0% {
        opacity: 0.01;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }

}

#platform_list>ul li button span {

    fill: var(--black-75);

    margin-right: 4px;

}

#platform_list>ul li:hover button {
    color: var(--black);
}

#platform_list>ul li:hover button span {
    fill: var(--black);
}

#platform_list>ul li button[aria-selected=true] span {
    fill: var(--primary);
}

#platform_list>ul li button[aria-selected=true] {

    color: var(--primary);

    border-bottom: 4px solid var(--primary);

}

#platform_list div[role="tabpanel"] {

    max-width: 1440px;

    margin: 0 auto;

    padding: 40px 5vw;

    min-height: 60vh;

}

#platform_list div[role="tabpanel"]>ul {

    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

}

@media(min-width: 520px) {
    #platform_list div[role="tabpanel"]>ul {

        grid-template-columns: 1fr 1fr;

    }
}

@media(min-width: 850px) {
    #platform_list div[role="tabpanel"]>ul {

        grid-template-columns: 1fr 1fr 1fr;

    }
}