#container {
    position: relative;
    top: 119.19px;

    max-width: 1440px;
    margin: 40px auto;

    padding-bottom: 119.19px;
}

@media((min-width: 420px) and (max-width: 1120px)) {

    #container {

        top: 134.8px;
        padding-bottom: 134.8px;

    }

}

@media(min-width: 1121px) {

    #container {

        top: 105.78px;
        padding-bottom: 105.78px;

    }

}

.padding {

    padding-left: 5vw;
    padding-right: 5vw;

}

@media(min-width: 1580px) {
    .padding {

        padding-left: 0;
        padding-right: 0;

    }
}

#page_heading_container {

    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}

@media(min-width: 660px) {

    #page_heading_container {

        flex-direction: row;
        gap: 40px;

    }

}

#page_heading_container>img {

    padding: 8px;

    background-color: var(--white);

    border: 2px solid var(--white);
    border-radius: 50%;

}

@media(max-width: 520px) {
    #page_heading_container h1 {
        text-align: center;
    }
}

#page_heading_container h1 {

    margin-bottom: 24px;

    color: var(--white-75);
    font-size: var(--fs-h3);
    font-weight: 400;

}

#page_heading_container h1>span {

    color: var(--white);
    font-size: var(--fs-h2);
    font-weight: 500;

}

#page_heading_container p {

    color: var(--white-75);
    font-size: calc(var(--fs-p) - 2px);
    font-weight: 400;

}

@media(min-width: 1020px) {
    #page_heading_container p {

        width: 90%;

    }
}

.section_content_container {

    background-color: var(--background-color);

}

.section_content_container:first-child {

    margin-top: 24px;

}

.section_content_container:not(:last-child) {

    margin-bottom: 24px;

}

#platforms_versions_container {

    margin: 24px 0;

}

/* #platforms_versions_container>h2 {

    padding-bottom: 8px;
    margin-bottom: 16px;

    font-size: var(--fs-h5);
    font-weight: 400;

    border-bottom: 1px solid var(--white);

} */

#platforms_versions_container>ul {

    margin-bottom: 24px;
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px 0;

}

@media(min-width: 768px) {
    #platforms_versions_container>ul {

        margin: 0 16px;
        margin-top: 40px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 24px;

    }
}

#platforms_versions_container>ul[data-half-visibility=false] {

    background-image: linear-gradient(rgba(0, 0, 0, 0.0) 70%, rgba(0, 0, 0, 0.3));

}

#platforms_versions_container>ul[data-half-visibility=false] ul {

    max-height: 25vh;
    overflow: hidden;

}

#platforms_versions_container button#show_whole_list {

    margin-bottom: 24px;
    width: 100%;

    padding: 8px 0;

    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 40px;
    background-color: var(--white-75);

}

@media(min-width: 768px) {
    #platforms_versions_container button#show_whole_list {

        margin-left: auto;
        margin-right: auto;

        width: 60%;

        display: flex;
        justify-content: center;

    }
}

li.platform_version_card {

    border: 2px solid var(--white);
    border-radius: 8px;

}

li.platform_version_card h3 {

    width: 100%;

    padding: 16px 0;

    text-align: center;

    font-size: var(--fs-h5);

    border-radius: 5px 5px 0 0;
    background-color: var(--primary);

}

li.platform_version_card>ul {

    padding: 8px 0;

    display: flex;
    flex-direction: column;
    gap: 8px 0;

}

li.platform_version_card>ul>li {

    padding: 8px 0;
    margin: 0 16px;

    display: flex;
    flex-direction: column;

    color: var(--white);
    font-size: var(--fs-minus-1);

}

li.platform_version_card>ul>li:not(:last-child) {

    border-bottom: 2px solid;

}

li.platform_version_card>ul>li span {

    margin-bottom: 8px;

    color: var(--white-75);
    font-size: calc(var(--fs-minus-1) - 3px);
    font-weight: 600;

}

.mobile_button_container {

    margin-top: 16px;

    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

@media(min-width: 680px) {
    .mobile_button_container {
        display: none;
    }
}

.heading_container {

    margin-bottom: 16px;
    padding-bottom: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--white);

}

.heading_container>h2 {

    font-size: var(--fs-h5);
    font-weight: 400;

}

@media(max-width: 679px) {
    .heading_container .buttons_container {
        display: none;
    }
}

@media(min-width: 680px) {
    .heading_container .buttons_container {

        display: flex;

        gap: 0 16px;

    }
}

.buttons_container button {
    background-color: transparent;
    border: none;
}

.buttons_container button svg {

    transform: scale(1.4);

}

.buttons_container button:last-child {

    rotate: 180deg;

}

.buttons_container button[disabled] {

    cursor: default;
    opacity: 0.5;

}

@media(max-width: 619px) {
    ul.list_container {

        display: flex;
        gap: 8px;

        overflow: auto;

    }
}

@media(min-width: 620px) {
    ul.list_container {

        display: grid;
        gap: 8px;
        grid-template-rows: max-content;
        grid-template-columns: repeat(2, 1fr);

        overflow: auto;

    }
}

@media(min-width: 820px) {
    ul.list_container {

        grid-template-columns: repeat(4, 1fr);

    }
}


ul.list_container li h5 {

    font-size: calc(var(--fs-h5) - 6px);

}