.container {

    position: relative;

    min-height: 90vh;

}


.position_relative {

    top: 160px;
    position: relative;

}

@media(min-width: 1120px) {

    .position_relative {

        top: 128px;

    }

}

.position_margin_bottom {

    margin-bottom: 160px;

}

@media(min-width: 768px) {

    .position_margin_bottom {

        margin-bottom: calc(0vh + 124px);

    }
}

@media(max-width: 1580px) {
    .padding {

        padding-left: 5vw !important;
        padding-right: 5vw !important;

    }
}

.flex_row {

    display: flex;
    flex-direction: row;

}

#game_presentation {

    margin: 0 auto;
    max-width: 1440px;

}

.background_fade {

    padding: 16px;

    width: 100%;
    background: linear-gradient(to bottom, #14171e00, var(--background-color) 20%);

}

@media(min-width:568px) {

    #game_presentation .background_fade {

        padding: initial;

        width: initial;
        background: initial;

    }

}

section#game_presentation #game_name_cover {

    top: 160px;

    flex-direction: column;
    align-items: center;
    gap: 0 32px;

}

@media(min-width:568px) {

    section#game_presentation #game_name_cover {

        padding: 0 5vw;
        flex-direction: row;

    }
}

@media(min-width: 768px) {

    section#game_presentation #game_name_cover {

        top: 124px;

    }

}

@media(min-width: 1580px) {

    section#game_presentation #game_name_cover {

        padding: 0;

    }

}

#game_presentation #game_name_cover img {

    margin-bottom: 16px;

    border-radius: 4px;

    box-shadow: 8px 8px 9px -1px var(--black-75);

}

@media(min-width:668px) {

    #game_presentation #game_name_cover img {

        margin-bottom: initial;

    }

}

#game_name_cover .name_button_container {

    margin: auto;

    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: 16px;

}

@media(min-width:568px) {

    #game_name_cover .name_button_container {

        justify-content: flex-start;

    }
}

#game_presentation #game_name_cover .name_button_container h1 {

    text-align: center;
    font-size: var(--fs-h4);

}

@media(min-width:568px) {

    #game_presentation #game_name_cover .name_button_container h1 {
        text-align: initial;
    }
}

#game_name_cover .name_button_container button {

    height: min-content;

    margin: auto 0;

    margin-left: 16px;

    padding: 6px 10px;

    border-radius: 4px;
    background-color: var(--black-50);
    border: 2px solid var(--white-25);

}

#game_name_cover .name_button_container button:not(:disabled):hover {

    transition: all ease 150ms;

    transform: scale(1.05);

}

#game_name_cover .name_button_container button:disabled {

    cursor: default;
    opacity: 0.5;

}

#game_name_cover .name_button_container button[data-bookmarked=true] {

    background-color: var(--black-75);
    border: 2px solid var(--primary);

}

#game_name_cover .name_button_container button svg {

    fill: #F2C74C;

}

#game_name_cover #how_long_list {

    width: fit-content;

    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;

    justify-content: center;

    background-color: var(--black-50);

    border: 2px solid var(--white-50);
    border-radius: 4px;

}

@media(min-width: 568px) {

    #game_name_cover #how_long_list {

        justify-content: start;
        margin-left: initial;
        margin-right: initial;

    }

}

#game_name_cover #how_long_list li {
    display: flex;
    align-items: center;
}

#game_name_cover #how_long_list li:not(:last-child)::after {

    content: '';

    margin: 0 8px;

    border-right: 2px solid var(--white-25);

    height: 28px;

}

#game_name_cover #how_long_list li div {

    text-align: center;

    padding: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: calc(var(--fs-minus-1) - 2px);
    font-weight: 600;

}


#game_name_cover #how_long_list li div>span {

    margin-bottom: 4px;

    font-size: calc(var(--fs-minus-1) - 3px);
    font-weight: 600;

    color: var(--white-75);

}

#game_heading_info {

    justify-content: center;
    margin-top: 16px;

    gap: 8px;

}

@media(min-width:568px) {

    #game_heading_info {

        justify-content: initial;

    }
}

@media(min-width:668px) {

    #game_heading_info {

        margin-top: initial;
        gap: 16px;

    }
}

#game_heading_info>span {

    margin: auto 0;

    display: block;
    width: 2px;
    height: 24px;

    background-color: var(--white-50);

}

#game_heading_info p,
#game_heading_info a {

    height: min-content;
    margin: auto 0;

    font-size: var(--fs-minus-2);
    color: var(--white);

}

#genre_list,
#platforms_list {

    margin-top: 24px;

    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;

}


@media(min-width:568px) {

    #genre_list,
    #platforms_list {

        justify-content: initial;

        margin-top: 24px;

        gap: 8px;

    }

}

#genre_list li,
#platforms_list li {

    width: max-content;

}

#genre_list li a,
#platforms_list li a {

    padding: 4px;

    display: block;

    border-radius: 4px;

    font-size: var(--fs-minus-2);


}

#genre_list li a {

    background-color: var(--primary);
    font-weight: 300;

}

#platforms_list li a {

    background-color: transparent;
    border: 1px solid var(--white-50);
    font-weight: 400;

}

/* All Content, except for heading info */
#game_details>div.game_details_wrapper {

    max-width: 1440px;

    padding-top: 32px;

    display: grid;
    align-items: start;
    gap: 32px;
    grid-template-areas:
        'imgs-videos'
        'info'
    ;

}

@media(max-width: 568px) {

    #game_details {
        top: 159px;
        background: var(--background-color);

    }

}

@media((min-width: 581px) and (max-width: 680px)) {

    #game_details {

        background: linear-gradient(to bottom, #14171e00, var(--background-color) 15%);

    }

}

@media(min-width: 880px) {

    #game_details>div.game_details_wrapper {

        margin-top: 32px;
        display: grid;
        gap: 80px;
        grid-template-areas: 'info imgs-videos';

    }

}

@media(min-width: 1440px) {

    #game_details>div.game_details_wrapper {

        margin: 0 auto;

    }

}

#game_details h2 {

    padding-bottom: 8px;
    margin-bottom: 16px;

    font-size: var(--fs-p);
    font-weight: 500;

    border-bottom: 1px solid var(--white-50);

}

#game_info {
    grid-area: info;
}

#game_info>div {

    margin: 32px 0;

}

#game_info div:first-child {
    margin-top: 0;
}

#game_info p {

    margin: 32px 0;

    color: var(--white-75);
    font-size: var(--fs-minus-1);
    font-weight: 300;


}

#game_modes ul {

    flex-wrap: wrap;

}

#game_modes li:not(:last-child):after {

    content: ', ';
    white-space: pre-wrap;

}

#game_modes li a {

    font-size: var(--fs-minus-1);
    font-weight: 300;

}

#game_dlcs li:not(:last-child) {

    border-bottom: 1px solid var(--white-25);

}

#game_dlcs li a {

    display: block;
    margin: 8px 0;
    padding: 4px 0;

    font-size: var(--fs-minus-1);
    font-weight: 300;

}

/* Section IMG and VIDEOS */

#game_photos_videos {

    z-index: 0;

    grid-area: imgs-videos;

    width: auto;

}

@media(min-width: 880px) {
    #game_photos_videos {

        margin-bottom: 32px;

        position: sticky;
        top: 140px;

        width: 40vw;
        min-height: 30vh;
        max-width: 600px;

    }
}

.tab_button_container {

    margin-bottom: 16px;

    display: flex;
    gap: 24px;
    justify-items: center;
    justify-content: center;
    align-items: center;

}

.tab_button_container button {

    padding: 4px 12px;

    border-radius: 18px;
    color: var(--white);
    background-color: var(--black-25);
    border: 2px solid var(--white);

    font-size: var(--fs-minus-1);

}

.tab_button_container button[aria-selected=true] {

    color: var(--white);
    border-color: var(--primary);
    background-color: var(--primary);

}

#img_container,
#videos_container {

    position: relative;
    top: 0;

}

#img_container img {

    position: relative !important;
    top: 0;

    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    max-height: inherit !important;

    border-radius: 2px;

}

@media(min-width: 680px) {

    #img_container img {

        width: 100% !important;
        max-width: 100% !important;
        height: auto !important;
        max-height: inherit !important;
    }

}

#videos_container iframe {

    z-index: 10;

    position: relative !important;
    top: 0;

    width: 100% !important;
    max-width: 100% !important;
    height: 240px !important;
    max-height: inherit !important;

    border-radius: 2px;
    border: none;

}

@media(min-width: 540px) {

    #videos_container iframe {

        height: 320px !important;
    }

}

@media(min-width: 680px) {

    #videos_container iframe {

        height: 320px !important;
    }

}

@media(min-width: 1440px) {

    #videos_container iframe {

        height: 420px !important;
    }

}

.select_img_buttons_container {

    width: 100%;
    height: calc(100% - 4px);

    z-index: 1;

    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 0;
    left: 0;

}

.select_img_buttons_container button,
.select_video_buttons_container button {

    padding: 0 24px;

    border: none;

}

.select_img_buttons_container button svg,
.select_video_buttons_container button svg {

    transform: scale(1.4);
    fill: var(--white);

}

.select_img_buttons_container button:last-child svg,
.select_video_buttons_container button:last-child svg {

    rotate: 180deg;

}

.select_img_buttons_container button:hover svg,
.select_video_buttons_container button:hover svg {

    fill: var(--white-75);

}

@media(min-width: 768px) {

    .select_img_buttons_container button,
    .select_video_buttons_container button {

        padding: 0 20px;
        opacity: 0;

    }

}


@media(min-width: 768px) {

    #img_container:hover .select_img_buttons_container button,
    #videos_container .select_video_buttons_container button {

        transition: all ease-in-out 150ms;

        opacity: 1;

    }
}

.select_img_buttons_container button:first-child {

    background: linear-gradient(to left, #14171e00 25%, var(--black-50));

}

.select_img_buttons_container button:last-child {

    background: linear-gradient(to right, #14171e00 25%, var(--black-50));

}

.select_img_buttons_container button[disabled],
.select_video_buttons_container button[disabled] {

    cursor: default;

    opacity: 0 !important;

}

/* Images Index Dots */
#img_array_length_dots {

    width: 100%;

    z-index: 1;

    position: absolute;
    bottom: 32px;

    justify-content: center;

    gap: 0 10px;

}

/* Videos Index Dots */
#videos_array_length_dots {

    width: 100%;

    z-index: 1;

    position: absolute;
    bottom: 0px;

    justify-content: center;

    gap: 0 10px;

}

.select_video_buttons_container {

    margin-top: 16px;

    display: flex;
    align-items: center;

}


.select_video_buttons_container button {

    background: transparent;
}

.select_video_buttons_container #videos_array_length_dots {

    position: initial;

}

#img_array_length_dots span[data-active],
#videos_array_length_dots span[data-active] {

    transition: all ease-in-out 100ms;

    cursor: pointer;

    display: block;

    width: 8px;
    height: 8px;

    border-radius: 50%;
    border: 1px solid var(--white);
    background-color: var(--black-25);

}

#img_array_length_dots span[data-active=false]:hover,
#videos_array_length_dots span[data-active=false]:hover {

    transform: scale(1.5);

}

#img_array_length_dots span[data-active=true],
#videos_array_length_dots span[data-active=true] {

    background-color: var(--white);

    transform: scale(1.2);

}

/* Similar Games */
#similar_games {

    background-color: var(--background-color);
    margin-bottom: 40px;

}

@media(min-width: 1600px) {

    #similar_games {
        margin-bottom: 40px;
    }

}

.similar_games_wrapper {

    margin-right: 5vw;
    padding-left: 5vw;

}

@media(min-width: 1580px) {
    .similar_games_wrapper {

        max-width: 1440px;
        margin: 0 auto;
        padding-left: 0;

    }
}

#similar_games h2 {

    padding-bottom: 8px;
    margin-bottom: 16px;

    font-size: var(--fs-p);
    font-weight: 500;

}

.similar_games_wrapper>ul {

    overflow: auto;
    gap: 16px 8px;

}
.similar_games_wrapper>ul::-webkit-scrollbar {

    display: none;

}

@media(min-width: 768px) {

    .similar_games_wrapper>ul {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;

    }

}

@media(min-width: 1020px) {

    .similar_games_wrapper>ul {

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    }

}