#card_container {

    width: 100%;

}

#card_container>a {

    display: grid;
    grid-template-columns: 1fr;

    min-width: 100%;
    min-height: inherit;

    font-size: var(--fs-minus-2);
    font-weight: 500;

}

@media(min-width: 760px) {
    #card_container>a {
        grid-template-columns: 1fr 3fr;
    }
}

#card_container>a:hover {
    transition: all ease 150ms;
    background-color: var(--black);
}

.img_container {

    margin: 8px auto;

    position: relative;
    top: 0;

    min-height: 160px;
    min-width: 100%;

    display: flex;

}

@media((min-width: 480px) and (max-width: 719px)) {

    .img_container {
        min-height: 240px;
    }

}

@media((min-width: 720px) and (max-width: 759px)) {

    .img_container {
        min-height: 180px;
    }

}

@media(min-width: 760px) {

    .img_container {

        margin: auto;
        min-height: 100px;
        min-width: 160px;

    }

}

@media(min-width: 1020px) {

    .img_container {

        min-height: 200px;
        min-width: 360px;

    }

}

.img_container img {

    margin: auto 0;

}

.game_info {

    margin-top: 8px;
    margin-bottom: 24px;
    margin-right: 8px;
    margin-left: 8px;

}

@media(min-width: 480px) {

    .game_info {
        margin: auto;

        margin-left: 24px;
        margin-right: 24px;
    }

}

.game_info h5 {

    margin-bottom: 8px;

    font-size: calc(var(--fs-h5) - 4px);
    font-weight: 700;

}

.game_info_details {

    display: flex;

    align-items: center;

    gap: 4px;

}

.game_info a {

    padding: 4px;

    display: inline-flex;

    background-color: var(--primary);
    border-radius: 2px;

}

.game_info a small {

    color: var(--white);
}

.game_info small {

    color: var(--white-75);

    font-style: italic;
    font-size: var(--fs-minus-2);
}

.game_info p {

    margin-top: 8px;

    font-size: var(--fs-minus-2);
    font-weight: 500;

    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

}