.container {

    transition: all ease-in-out 350ms;

    z-index: 10;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background: transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 10px 0;

}

@media(min-width: 1120px) {

    .container {
        margin: auto;
        flex-direction: row;
        align-items: flex-start;
    }
}

@media(min-width: 1520px) {

    .container {

        padding: 24px auto;

    }

}

#mobile_menu {

    display: flex;
    gap: 4px;
    align-items: center;

}

@media(min-width: 780px) {
    #mobile_menu {

        display: none;

    }
}

#mobile_menu h6.user_mobile_name img {

    display: flex;
    align-items: center;

    border-radius: 4px;

}

#mobile_menu button {

    z-index: 100;

    display: flex;

    padding: 8px;

    background: transparent;
    border: 2px solid transparent;
    border-radius: 4px;

}

#mobile_menu button[data-clicked=true] {

    background: var(--primary);

}

#mobile_menu button svg {

    transform: scale(1.6);

}

@media(min-width: 680px) {

    .container>.form_and_results_container {
        display: none;
    }

}

#brand_container {

    position: relative;
    top: 0;

    padding: 12px;
    padding-top: 24px;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0 32px;

}

@media(min-width: 679px) {

    #brand_container {

        width: 100%;

    }

}

@media(min-width: 780px) {

    #brand_container {
        padding: 24px 5vw;
    }

}

@media(min-width: 1120px) {

    #brand_container {

        padding-right: 0;

        justify-content: initial;

    }

}


#brand_container>a>img {

    max-width: 80px;

    width: 100%;
    height: auto;

}

@media(min-width: 420px) {
    #brand_container>a>img {

        max-width: 120px;

    }
}

@media(min-width: 679px) {
    #brand_container>a>img {

        min-width: 120px;
        min-height: 46px;

    }
}

#brand_container #links_container {

    align-self: center;

}

#brand_container #links_container ul {

    display: flex;
    flex-direction: column;
    gap: 24px;

}

@media(min-width: 779px) {

    #brand_container #links_container ul {

        flex-direction: row;

    }
}

#brand_container li a {

    font-size: var(--fs-p);

}

@media(min-width: 779px) {
    #brand_container li a {

        font-size: var(--fs-minus-2);

    }
}

@media(min-width: 780px) {
    #brand_container li a:hover {

        border-bottom: 2px solid var(--white-50);

    }
}

/* MOBILE SIDEBAR MENU */
@media(max-width: 424px) {
    #links_container[data-visibility=true] {

        animation: appear-left forwards 200ms;

        z-index: 10;

        box-shadow: 20px 0px 20px 0px var(--black-50);

        min-width: 70vw;

        min-height: 100vh;

        padding: 16px;

        position: absolute;
        top: 0;
        left: 0;

        background: var(--background-color);

    }
}

/* MOBILE SIDEBAR MENU */
@media((min-width: 425px) and (max-width: 779px)) {

    #links_container[data-visibility=true] {

        animation: appear-left forwards 200ms;

        z-index: 10;

        box-shadow: 20px 0px 20px 0px var(--black-50);

        min-width: 75vw;

        min-height: 100vh;

        padding: 16px;

        position: absolute;
        top: 0;
        left: 0;

        background: var(--background-color);

    }
}

@keyframes appear-left {
    0% {
        left: -80vw;
    }

    100% {
        left: 0;
    }
}

@media(max-width: 779px) {

    /* INITIAL STATE */
    #links_container.sidebar_menu_mobile[data-visibility=false][data-initial-close-state=true] {
        display: none;
    }

    /* AFTER FIRST OPEN MENU CLICK*/
    #links_container.sidebar_menu_mobile[data-visibility=false] {

        transition: all ease 2000ms;

        animation: disapear forwards 800ms;

    }

    @keyframes disapear {

        0% {
            z-index: 10;

            position: absolute;
            top: 0;
            left: 0;

            min-height: 100vh;
            min-width: 75vw;

            padding: 16px;

            background: var(--background-color);
        }

        100% {

            z-index: 10;

            position: absolute;
            top: 0;
            left: -75vw;

            min-height: 100vh;
            min-width: 0;

            padding: 16px;

            background: var(--background-color);

            display: none;
        }
    }


    #links_container.sidebar_menu_mobile li:not(:last-child) {

        border-bottom: 1px solid var(--white-25);

    }

    #links_container.sidebar_menu_mobile li a,
    #links_container.sidebar_menu_mobile li button {

        width: 100%;

        padding-bottom: 16px;
        display: block;

        display: flex;


        font-size: var(--fs-minus-1);

        border: none;
        background-color: transparent;

    }


    #links_container.sidebar_menu_mobile li svg {

        margin-right: 8px;

    }
}

@media(min-width: 780px) {

    .mobile_only {
        display: none !important;
    }

}

#links_container>h3 {

    margin-bottom: 32px;

    color: var(--white-50);

}

#links_container .user_mobile_section {

    margin-bottom: 48px;

    display: flex;
    align-items: center;
    gap: 24px;

}

#links_container .user_mobile_section img {

    border-radius: 50%;
    border: 2px solid var(--white);

}

#links_container .user_mobile_section h6 {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

    font-size: var(--fs-h5);
    font-weight: 400;
    color: var(--white);

}

#links_container .user_mobile_section p {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

    color: var(--white-50);

}

#links_container .user_mobile_section>div {

    display: flex;
    flex-direction: column;

}

#brand_container .user_account_container {

    display: none;

}

@media((min-width: 780px) and (max-width: 1119px)) {
    #brand_container .user_account_container {

        display: block;

    }
}

#user_interests {

    display: flex;
    flex-direction: row;
    gap: 24px;

}


@media(max-width: 679px) {

    #user_interests {

        display: none;

    }

}

@media(min-width: 780px) {

    #user_interests {

        padding-bottom: 24px;

    }

}

@media(min-width: 1119px) {

    #user_interests {
        margin-top: auto;
        margin-bottom: auto;

        padding-top: 24px;
        padding-bottom: 24px;
        padding-right: 5vw;

    }

}

.search_form {

    display: flex;
    flex-direction: row;
    justify-content: center;

}

@media((min-width: 320px) and (max-width: 580px)) {

    .search_form>div {

        width: 100%;

    }
}


.search_form input {

    padding: 10px 8px;

    font-size: var(--fs-minus-1);
    font-weight: 300;

    background: var(--black-50);
    border: none;
    border-radius: 4px 0 0 4px;

}

.search_form input:focus-visible {

    outline-color: var(--white-25);

}

@media(min-width: 780px) {

    .search_form input {

        background: var(--black-50);

    }

}

@media((min-width: 320px) and (max-width: 580px)) {

    .search_form input {

        width: 100%;

    }
}

.search_form input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--white);
    /* Firefox */
    opacity: 1;
}

.search_form input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--white);
}

.search_form input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--white);
}

.search_form button[type='submit'] {

    background: var(--black-50);
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 0 4px;

}

.search_form button[type='submit'][disabled] {

    cursor: default;

}


@media(min-width: 780px) {

    .search_form button[type='submit'] {

        background: var(--black-50);

    }

}

.search_form button[type='submit'][disabled=false]:hover,
.search_form button[type='button']:hover {

    opacity: 0.6;

}

.search_form button[type='button'] {

    margin-left: 8px;

    width: 40px;

    padding: 0 8px;

    background: var(--black-50);
    border: 2px solid var(--white-10);
    border-radius: 4px;

    color: var(--red);
    font-weight: 600;

}

#user_interests .user_account_container {

    margin: auto;

}

@media(max-width: 1119px) {
    #user_interests .user_account_container {

        display: none;

    }

}

#user_interests .user_account_container>a {

    align-self: center;

    font-size: var(--fs-minus-1);
    padding: 4px 8px;
    background: transparent;
    border-radius: 4px;

}

/* Seach Results */
.form_and_results_container {

    position: relative;
    top: 0;

}

@media((min-width: 580px) and (max-width: 780px)) {

    .form_and_results_container {

        padding-bottom: 12px;

    }
}

@media(max-width: 580px) {

    .form_and_results_container {

        width: 100%;
        padding: 12px;
        padding-top: 0;
        padding-bottom: 12px;

    }
}

#search_results {

    position: absolute;
    top: 7.2vh;
    right: 0;
    left: 0;

}

@media((min-width: 520px) and (max-width: 1118px)) {

    #search_results {
        top: 7.3vh;
        left: -0%;
    }
}

@media(min-width: 1119px) {

    #search_results {

        width: 360px;

        left: initial;
        right: 0;

    }

}

#search_results ul {

    overflow: auto;

    max-height: 70vh;

    margin-top: 8px;

    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 8px 0;

    background-color: var(--black-75);

    border-radius: 0 0 4px 4px;

}

@media(min-width: 580px) {
    #search_results ul {
        max-height: 60vh;
        border-radius: 4px;
    }
}

@media(min-width: 1180px) {
    #search_results ul {
        max-height: auto;
    }
}

#search_results ul::-webkit-scrollbar {
    width: 4px;
    background-color: var(--white-50);
}

#search_results ul::-webkit-scrollbar-thumb {
    background-color: var(--black-50);
}

#search_results div.no_results {

    margin: 12.6px 0;
    padding: 24px 0;
    text-align: center;

    min-height: 60px;

    border-radius: 4px;
    background-color: var(--black-75);

}

@media(min-width: 880px) {
    #search_results div.no_results {

        margin: 0;
        padding: 12px 0;
        text-align: center;

        min-height: 60px;

        background-color: var(--black-75);

    }
}

/* USER MENU DESKTOP */
.user_account_container[data-has-user=true]>button {

    width: max-content;

    display: flex;
    align-items: center;

    padding: 8px;

    font-size: var(--fs-minus-1);
    font-weight: 500;

    color: var(--white);

    background: transparent;
    border: 2px solid var(--white-25);
    border-radius: 4px;

}

.user_account_container[data-has-user=true]>button:hover {

    border-color: var(--white-75);

}

.user_account_container[data-has-user=true]>button[aria-haspopup=true] {

    background-color: var(--white);

    color: var(--primary);

}

.user_account_container[data-has-user=true]>button img {

    margin-right: 8px;
    overflow: hidden;

    border: 1px solid transparent;

    border-radius: 4px;

}

.user_account_container[data-has-user=true]>button[aria-haspopup=true] img {

    border: 1px solid var(--primary);

}

.user_account_container[data-has-user=true] div[role='menu'] {

    z-index: 10;

    position: relative;
    top: 0;

}

.user_account_container[data-has-user=true] div[role='menu'] ul {

    min-width: 260px;

    margin-top: 8px;

    padding: 8px;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 2px 0;

    background-color: var(--white);
    border-radius: 4px;

}

.user_account_container[data-has-user=true] div[role='menu'] li {

    padding: 4px 0;

    border-radius: 2px;

}

.user_account_container[data-has-user=true] div[role='menu'] li>* {

    padding: 8px;

    font-size: calc(var(--fs-p) - 3px);
    font-weight: 400;

    color: var(--black-50);

}

.user_account_container[data-has-user=true] div[role='menu'] li a,
.user_account_container[data-has-user=true] div[role='menu'] li button {

    width: 100%;

    display: block;

    text-align: start;

}

.user_account_container[data-has-user=true] div[role='menu'] li svg {

    margin-right: 8px;

}

.user_account_container[data-has-user=true] div[role='menu'] li button {

    background-color: transparent;
    border: none;

}

.user_account_container[data-has-user=true] div[role='menu'] li:hover {

    background-color: var(--black-10);

}

.user_account_container[data-has-user=true] div[role='menu'] li:hover>* {

    color: var(--primary);

}