#container {

    /* padding-top: 135.8px; */
    padding-top: 0;

}

#container>* {

    padding: 0 5vw;

}

section.section_margin {

    padding: 0 16px;

}

@media(min-width: 1020px) {
    section.section_margin {

        padding: 0 5vw;

    }
}

section.position_top {

    position: relative;
    top: -5vh;

}

@media(min-width: 768px) {

    section.position_top {

        top: -20vh;

    }
}

#hero_game_info, .fix_position_absolute {

    max-width: 85%;
    padding: 0 5vw;
    padding-top: 80px;

    position: relative;

    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

@media(min-width: 620px) {

    #hero_game_info {
        padding: 0 5vw;
        padding-top: 80px;

        max-width: 60%;

    }
}

@media(min-width: 1020px) {

    #hero_game_info {

        padding-top: 0;
        padding-left: 5vw;
        padding-right: 0;

        max-width: 45%;

    }
}

#hero_game_info h1, #hero_game_info h1 a {

    font-size: var(--fs-h3);
    font-weight: 500;

}

#hero_game_info ul {

    margin-top: 16px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

#hero_game_info li, #hero_game_info li a {

    font-size: var(--fs-minus-2);
    font-weight: 600;
    color: var(--white-75);

}

#hero_game_info li a:hover {

    color: var(--white);

}

#hero_game_info button {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width: 220px;

    margin-top: 24px;
    padding: 8px;

    background-color: var(--black-50);
    border-radius: 4px;
    border: 2px solid var(--white-75);


    font-size: var(--fs-minus-1);
    font-weight: 400;
}

#hero_game_info button:hover {

    border: 2px solid var(--white);

}

#hero_game_info button svg {

    margin-right: 16px;

    width: auto;
    height: 25px;

    fill: var(--white);

}

/* CAROUSEL */
#carrousel {

    padding-top: 16px;

    background: linear-gradient(to bottom, #14171e99, var(--background-color) 25%);

    min-height: 25vh;

    position: relative;
    top: -5vh;

}

@media(min-width: 768px) {
    #carrousel {

        padding-top: 0;
        background: linear-gradient(to bottom, transparent, var(--background-color) 25%);
        margin: 40px 0;

        top: -15vh;

    }
}

@media(min-width: 1020px) {
    #carrousel {

        background: linear-gradient(to bottom, transparent, var(--background-color) 40%);
        padding: 0 5vw;
        top: -20vh;

    }
}

.section_heading {

    padding: 0 16px;
    margin-bottom: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media(min-width: 1020px) {

    .section_heading {

        padding: 0;

    }

}

@media(min-width: 1440px) {

    .section_heading {

        max-width: 85vw;

        margin: 0 auto;
        margin-bottom: 8px;

    }

}

.section_heading h2 {

    font-size: var(--fs-minus-1);
    font-weight: 400;

}


.buttons_container {

    display: none;

}

@media(min-width: 480px) {

    .buttons_container {

        display: flex;
        gap: 0 32px;
    }

}

.buttons_container button {
    padding: 0 8px;

    border: none;
    background-color: transparent;

    color: var(--white);

}

.buttons_container button svg {

    transform: scale(1.6);

}

.buttons_container button[disabled] {

    cursor: default;

    color: var(--white-50);

}

#carrousel>ul {

    padding: 0 16px;
    overflow: auto;

    display: flex;
    gap: 0 12px;

}

#carrousel>ul::-webkit-scrollbar {

    display: none;

}

@media(min-width: 480px) {

    #carrousel>ul {

        overflow: initial;

        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 12px;

    }

    #carrousel>ul::-webkit-scrollbar {

        display: initial;

    }

}

@media(min-width: 660px) {

    #carrousel>ul {

        overflow: initial;

        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 12px;

    }

}

@media(min-width: 860px) {

    #carrousel>ul {

        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0 12px;

    }

}

@media(min-width: 1020px) {

    #carrousel>ul {
        padding: 0;
    }
}

@media(min-width: 1440px) {

    #carrousel>ul {

        max-width: 85vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }

}

#carrousel #carousel_indicators {

    display: none;

}

@media(min-width: 480px) {

    #carrousel #carousel_indicators {

        margin: 16px 0;

        display: flex;
        gap: 0 16px;
        justify-content: center;

    }
}

#carousel_indicators span {

    display: block;

    width: 6px;
    height: 6px;

    background-color: var(--white-50);
    border-radius: 50%;

}

#carousel_indicators span[data-active-row='true'] {

    background-color: var(--white);

}

/* Genre Games Container */
#genre_games {

    margin-top: 32px;

}

@media(min-width: 768px) {
    #genre_games {

        margin-top: 0;
        padding: 0 5vw;

    }
}

#genre_games .section_heading h2 {

    font-size: var(--fs-h3);
    font-weight: 600;

}

#genre_games .section_heading a {

    font-size: var(--fs-minus-2);
    font-weight: 500;

    color: var(--green);

}

.genre_game_cards_container>ul {

    padding: 0 16px;
    overflow: auto;

    display: flex;
    gap: 0 16px;

}

@media(min-width: 768px) {

    .genre_game_cards_container>ul {

        padding: 0;

        overflow-x: auto;
        overflow-y: hidden;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 16px;
        justify-items: stretch;
        align-items: baseline;

    }

}

.genre_game_cards_container>ul::-webkit-scrollbar {

    display: none;

}

.genre_game_cards_container .buttons_container {

    display: none;

}

@media(min-width: 768px) {
    .genre_game_cards_container .buttons_container {

        margin-top: 24px;

        display: flex;
        justify-content: center;

    }
}

/* Section Platform Games */
#popular_platform_game {

    margin-top: 40px;

    position: relative;

}

#popular_platform_game #info_wrapper {

    /* removes padding from another class */
    padding: 0;

    max-width: initial;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#popular_platform_game .focused_game_container {

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}


#popular_platform_game .focused_game_container #carousel_container {

    width: 100%;
    overflow: auto;

}

#popular_platform_game .focused_game_container #carousel_container ul {

    overflow: auto;

    display: flex;
    flex-direction: row;

}
