#container {

    /* padding-top: 135.8px; */
    padding-top: 0;

}

#container>* {

    padding: 0 5vw;

}

section.section_margin {

    padding: 0 16px;

}

@media(min-width: 1020px) {
    section.section_margin {

        padding: 0 5vw;

    }
}

section.position_top {

    position: relative;
    top: -5vh;

}

@media(min-width: 1580px) {
    section.max_width {

        padding: 0 !important;
        margin: 0 auto;

        max-width: 1440px;

    }
}

@media(min-width: 768px) {

    section.position_top {

        top: -20vh;

    }
}

#hero_game_info,
.fix_position_absolute {

    max-width: 85%;
    padding: 0 5vw;
    padding-top: 80px;

    position: relative;

    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}


#hero_game_info {

    padding-top: 120px;
    height: 80vh;

}

@media(min-width: 620px) {

    #hero_game_info {
        padding: 0 5vw;
        padding-top: 80px;

        max-width: 60%;

    }
}

@media(min-width: 1020px) {

    #hero_game_info {

        padding-top: 0;
        padding-left: 5vw;
        padding-right: 0;

        max-width: 45%;

    }
}

#hero_game_info h1,
#hero_game_info h1 a {

    font-size: var(--fs-h3);
    font-weight: 500;

}

#hero_game_info ul {

    margin-top: 16px;

    display: flex;
    flex-wrap: wrap;

}

#hero_game_info li,
#hero_game_info li a {

    width: max-content;
    font-size: var(--fs-minus-2);
    font-weight: 600;
    color: var(--white-75);

}


#hero_game_info li:not(:last-child):after {

    content: ', ';
    white-space: pre;

}

#hero_game_info li a:hover {

    color: var(--white);

}

#hero_game_info a#game_page_link {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 220px;

    margin-top: 24px;
    padding: 8px;

    background-color: var(--black-50);
    border-radius: 4px;
    border: 2px solid var(--white-75);


    font-size: var(--fs-minus-1);
    font-weight: 400;
}

#hero_game_info a#game_page_link:hover {

    border: 2px solid var(--white);

}

#hero_game_info a#game_page_link svg {

    margin-right: 16px;

    width: auto;
    height: 25px;

    fill: var(--white);

}

/* CAROUSEL */
#carrousel {

    padding-top: 16px;

    background: linear-gradient(to bottom, transparent, var(--background-color) 60%);

    min-height: 25vh;

    position: relative;
    top: -5vh;

}

@media(min-width: 768px) {
    #carrousel {

        padding-top: 0;
        background: linear-gradient(to bottom, transparent, var(--background-color) 25%);
        margin-top: 40px;
        padding-bottom: 40px;

        top: -15vh;

    }
}

@media(min-width: 1020px) {
    #carrousel {

        background: linear-gradient(to bottom, transparent, var(--background-color) 40%);
        padding: 0 5vw;
        top: -20vh;

    }
}

.section_heading {

    padding: 0 16px;
    margin-bottom: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media(min-width: 1020px) {

    .section_heading {

        padding: 0;

    }

}

@media(min-width: 1440px) {

    .section_heading {

        max-width: 85vw;

        margin: 0 auto;
        margin-bottom: 8px;

    }

}

.section_heading h2 {

    font-size: var(--fs-minus-1);
    font-weight: 400;

}

.buttons_container {

    display: none;

}

@media(min-width: 480px) {

    .buttons_container {

        display: flex;
        gap: 0 32px;
    }

}

.buttons_container button {
    padding: 0 8px;

    border: none;
    background-color: transparent;

    color: var(--white);

}

.buttons_container button svg {

    transform: scale(1.6);

}

.buttons_container button[disabled] {

    cursor: default;

    color: var(--white-50);

}

#carrousel>ul {

    padding: 0 16px;
    overflow: auto;

    display: flex;
    gap: 0 12px;

}

#carrousel>ul::-webkit-scrollbar {

    display: none;

}

@media(min-width: 480px) {

    #carrousel>ul {

        overflow: initial;

        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 12px;

    }

    #carrousel>ul::-webkit-scrollbar {

        display: initial;

    }

}

@media(min-width: 660px) {

    #carrousel>ul {

        overflow: initial;

        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 12px;

    }

}

@media(min-width: 860px) {

    #carrousel>ul {

        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0 12px;

    }

}

@media(min-width: 1020px) {

    #carrousel>ul {
        padding: 0;
    }
}

@media(min-width: 1440px) {

    #carrousel>ul {

        max-width: 85vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }

}

#carrousel #carousel_indicators {

    display: none;

}

@media(min-width: 480px) {

    #carrousel #carousel_indicators {

        margin: 16px 0;

        display: flex;
        gap: 0 16px;
        justify-content: center;

    }
}

#carousel_indicators span {

    cursor: pointer;

    display: block;

    width: 6px;
    height: 6px;

    background-color: var(--white-50);
    border-radius: 50%;

}

#carousel_indicators span[data-active-row='true'] {

    background-color: var(--white);

}

#carousel_indicators span:hover {

    transform: scale(1.5);

}

/* Genre Games Container */
#genre_games {

    margin-top: -1px;
    padding-top: 32px;

    background-color: var(--background-color);

}

@media(min-width: 768px) {
    #genre_games {

        padding-top: 32px;
        padding: 0 5vw;

    }
}

#genre_games .section_heading h2 {

    font-size: var(--fs-h4);
    font-weight: 600;

}

#genre_games .section_heading a {

    font-size: var(--fs-minus-2);
    font-weight: 500;

    color: var(--green);

}

.genre_game_cards_container>ul {

    padding: 0 16px;
    overflow: auto;

    display: flex;
    gap: 0 16px;

}

@media(min-width: 768px) {

    .genre_game_cards_container>ul {

        padding: 0;

        overflow-x: auto;
        overflow-y: hidden;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 16px;
        justify-items: stretch;
        align-items: baseline;

    }

}

.genre_game_cards_container>ul::-webkit-scrollbar {

    display: none;

}

.genre_game_cards_container .buttons_container {

    display: none;

}

@media(min-width: 768px) {
    .genre_game_cards_container .buttons_container {

        margin-top: 24px;

        display: flex;
        justify-content: center;

    }
}

/* Section Platform Games */
#popular_platform_game {

    background: linear-gradient(var(--background-color) 8%, transparent, var(--background-color) 85%);

    margin-top: 40px;

    position: relative;

}

/* removes padding from another class */
#popular_platform_game #info_wrapper {

    padding: 24px 0;

    max-width: initial;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#popular_platform_game #info_wrapper>h2 {

    text-align: center;

    font-size: var(--fs-h4);
    font-weight: 800;

}

#popular_platform_game #platform_content_container {

    overflow: hidden;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#popular_platform_game #platform_content_container>h3 {

    max-width: 75vw;

    margin-bottom: 24px;

    text-align: center;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    overflow: hidden;

    font-size: var(--fs-h4);
    font-weight: 900;

}

@media(min-width: 560px) {

    #popular_platform_game #platform_content_container>h3 {

        font-size: var(--fs-h1);

    }
}

#popular_platform_game #genres_list {

    display: flex;
    margin-bottom: 24px;

}

#popular_platform_game #genres_list li {

    font-size: var(--fs-h5);
    font-weight: 800;

}

#popular_platform_game #genres_list li:not(:last-child):after {

    content: ', ';
    white-space: pre;

}

#popular_platform_game .game_list_container {

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}


#popular_platform_game .game_list_container #carousel_container {

    width: 100%;

}

#popular_platform_game .game_list_container #carousel_container ul {

    padding: 16px 0;

    display: flex;
    gap: 0 8px;
    flex-direction: row;

}

@media(max-width: 1019px) {

    #popular_platform_game .game_list_container #carousel_container ul {

        overflow: auto;

        padding: 0 16px;

        left: 0 !important;

    }

}

#popular_platform_game .game_list_container #carousel_container::-webkit-scrollbar,
#popular_platform_game .game_list_container #carousel_container ul::-webkit-scrollbar {
    height: 0;
    display: none;
}

#popular_platform_game #carousel_container span li {

    min-height: 160px !important;

    border: 2px solid transparent;

    width: 20vw;

}

#popular_platform_game #carousel_container span[data-focused=true] li {

    margin: 0 8px;

    transform: scale(1.15);
    margin: 0 24px;

    border: 3px solid var(--green);

}

#popular_platform_game #carousel_container .buttons_container {

    display: none !important;

    margin-top: 8px;

    justify-content: center;

}

@media(min-width: 1020px) {

    #popular_platform_game #carousel_container .buttons_container {


        display: flex !important;

    }

}

section#themes_category {

    padding: 0 5vw;
    margin-top: 40px;
    margin-bottom: 16px;

}

section#themes_category>h2 {

    font-size: var(--fs-h5);

    margin-bottom: 16px;

}

@media(min-width: 760px) {
    section#themes_category>h2 {

        font-size: var(--fs-h3);

        margin-bottom: 16px;

    }
}

#themes_category ul {

    display: flex;
    gap: 12px;
    overflow: auto;

}

@media(min-width: 480px) {
    #themes_category ul {

        overflow: initial;

        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }
}

@media(min-width: 680px) {
    #themes_category ul {

        grid-template-columns: repeat(5, 1fr);

    }
}

@media(min-width: 780px) {
    #themes_category ul {

        grid-template-columns: repeat(6, 1fr);

    }
}

#themes_category ul li {

    display: flex;
    min-width: 60vw;
    height: 120px;

}

@media(min-width: 480px) {
    #themes_category ul li {

        display: flex;
        min-width: auto;

    }

}

#themes_category ul li a {

    padding-left: 8px;
    padding-bottom: 8px;

    width: 100%;
    min-height: auto;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    font-size: var(--fs-minus-1);
    font-weight: 400;

    background-color: var(--primary);
    border-radius: 4px;

}